@use "../../../../src/mixins.scss" as m;
@use "../../../../src/variables.scss" as v;

.overview-main {
  @include m.flexBox(row, space-between, center);
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  h1 {
    @include m.styleFont("PS-Bold", 32px, 400, 1.2);
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;

    @media (max-width: 1024px) {
      width: 100%;
    justify-content: flex-start;
    }
  }

  .balance {
    @include m.flexBox(row, space-between, center);
    width: 100%;    

    @media (max-width: 450px) {
      flex-direction: column;
    }

    .balance-item {
      @include m.flexBox(column, center, flex-start);
      flex: 1;
      flex-grow: 1;
      min-width: 100px;
      margin: 0 10px;
      padding: 24px;
      background-color: white;
      border-radius: 12px;
      text-align: center;      

      @media (max-width: 450px) {
        margin: 0;
        width: 100%;
        margin-bottom: 24px;
      }

      .balance-headline {
        @include m.styleFont("PS-Regular", 14px, 400, 1.5, v.$grey500);
      }

      .balance-value {
        @include m.styleFont("PS-Bold", 32px, 400, 1.2, v.$grey900);
      }
    }

    .balance-item:first-child {
      background-color: black;
      margin-left: 0;

      .balance-headline {
        color: white;
      }

      .balance-value {
        color: white;
      }
    }
  }

  .finance-overview {
    @include m.flexBox(row, center, flex-start);
    width: 100%;
    height: 100%;
    flex-grow: 1;
    min-height: 0;
    margin-top: 24px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    h2 {
      @include m.styleFont("PS-Regular", 20px, 400, 1.2, v.$grey900);
    }

    a {
      @include m.styleFont("PS-Regular", 14px, 400, 1.5, v.$grey500);
      text-decoration: none;
    }

    .finance-left {
      width: 60%;
      height: 100%;
      flex-grow: 1;
      min-height: 0;
      display: flex;
      flex-direction: column;

      @media (max-width: 1024px) {
        width: 100%;
      }

      .pots-section {
        flex: 1;
        min-height: 100px;
        padding: 32px;
        background-color: white;
        border-radius: 12px;

        .pots-summary {
          @include m.flexBox(row, space-between, center);
        }
      }

      .transactions-section {
        flex: 2;
        flex-grow: 1;
        min-height: 0;
        margin-top: 24px;
        padding: 32px;
        background-color: white;
        border-radius: 12px;

        .transactions-overview {
          @include m.flexBox(row, space-between, center);
        }
      }
    }

    .finance-right {
      width: 40%;
      height: 100%;
      flex-grow: 1;
      min-height: 0;
      margin-left: 24px;
      display: flex;
      flex-direction: column;

      @media (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
        margin-top: 24px;
      }

      .budgets-section {
        flex: 2;
        min-height: 220px;
        padding: 32px;
        background-color: white;
        border-radius: 12px;

        .budgets-overview {
          @include m.flexBox(row, space-between, center);
        }
      }

      .bills-section {
        flex: 1;
        flex-grow: 1;
        min-height: 0;
        margin-top: 24px;
        padding: 32px;
        background-color: white;
        border-radius: 12px;

        .bills-overview {
          @include m.flexBox(row, space-between, center);
        }
      }
    }
  }
}
