@use "../../../../src/mixins.scss" as m;
@use "../../../../src/variables.scss" as v;

.overview-main {
  width: 100%;
  height: auto;
  min-height: 500px;
  box-sizing: border-box;

  h1 {
    @include m.styleFont("PS-Bold", 32px, 400, 1.2);
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
  }

  .balance {
    @include m.flexBox(row, space-between, center);
    width: 100%;

    .balance-item {
      @include m.flexBox(column, center, flex-start);
      flex: 1;
      flex-grow: 1;
      min-width: 100px;
      width: auto;
      margin: 0 10px;
      padding: 24px;
      background-color: white;
      border-radius: 12px;
      text-align: center;

      .balance-headline {
        @include m.styleFont("PS-Regular", 14px, 400, 1.5, v.$grey500);
      }

      .balance-value {
        @include m.styleFont("PS-Bold", 32px, 400, 1.2, v.$grey900);
      }
    }

    .balance-item:first-child {
      background-color: black;
      margin-left: 0;

      .balance-headline {
        color: white;
      }

      .balance-value {
        color: white;
      }
    }
  }

  .finance-overview {
    @include m.flexBox(row, center, flex-start);
    height: 50vh;
    margin-top: 24px;

    h2 {
      @include m.styleFont("PS-Regular", 20px, 400, 1.2, v.$grey900);
    }

    a {
      @include m.styleFont("PS-Regular", 14px, 400, 1.5, v.$grey500);
      text-decoration: none;
    }

    .finance-left {
      width: 60%;
      display: flex;
      flex-direction: column;

      .pots-section {
        flex: 1;
        min-height: 150px;
        background-color: white;
        padding: 32px;
        border-radius: 12px;

        .pots-summary {
          @include m.flexBox(row, space-between, center);
        }
      }

      .transactions-section {
        flex: 2;
        min-height: 320px;
        background-color: white;
        margin-top: 24px;
        padding: 32px;
        border-radius: 12px;

        .transactions-overview {
          @include m.flexBox(row, space-between, center);
        }
      }
    }

    .finance-right {
      width: 40%;
      margin-left: 24px;
      display: flex;
      flex-direction: column;

      .budgets-section {
        flex: 2;
        min-height: 300px;
        background-color: white;
        padding: 32px;
        border-radius: 12px;

        .budgets-overview {
          @include m.flexBox(row, space-between, center);
        }
      }

      .bills-section {
        flex: 1;
        min-height: 180px;
        background-color: white;
        margin-top: 24px;
        padding: 32px;
        border-radius: 12px;

        .bills-overview {
          @include m.flexBox(row, space-between, center);
        }
      }
    }
  }
}
