<section class="overview-main">
  <h1>{{ "DASHBOARD.TITLE" | translate }}</h1>
  <section class="balance">
    <article class="balance-item">
      <h2 class="balance-headline">
        {{ "DASHBOARD.CURRENT_BALANCE" | translate }}
      </h2>
      <div class="balance-value">{{ "DASHBOARD.SIGN" | translate }}10</div>
    </article>
    <article class="balance-item">
      <h2 class="balance-headline">{{ "DASHBOARD.INCOME" | translate }}</h2>
      <div class="balance-value">{{ "DASHBOARD.SIGN" | translate }}10</div>
    </article>
    <article class="balance-item">
      <h2 class="balance-headline">{{ "DASHBOARD.EXPENSES" | translate }}</h2>
      <div class="balance-value">{{ "DASHBOARD.SIGN" | translate }}10</div>
    </article>
  </section>

  <section class="finance-overview">
    <div class="finance-left">
        <section class="pots-section">
            <aside class="pots-summary">
                <h2>{{ "SIDENAV.POTS" | translate }}</h2>
                <a href="/pots">See Details</a>
            </aside>
        </section>
        <section class="transactions-section">
            <article class="transactions-overview">
                <h2>{{ "SIDENAV.TRANSACTIONS" | translate }}</h2>
                <a href="/transactions">View All</a>
            </article>
        </section>
    </div>

    <div class="finance-right">
        <section class="budgets-section">
            <article class="budgets-overview">
                <h2>Budgets</h2>
                <a href="/budgets">See Details</a>
            </article>
        </section>
        <section class="bills-section">
            <article class="bills-overview">
                <h2>{{ "SIDENAV.BILLS" | translate }}</h2>
                <a href="/bills">See Details</a>
            </article>
        </section>
    </div>
</section>

</section>
