<section class="overview-main">
  <h1>{{ "DASHBOARD.TITLE" | translate }}</h1>
  <article class="balance">
    <div class="balance-item">
      <div class="headline">{{ "DASHBOARD.CURRENT_BALANCE" | translate }}</div>
      <div class="value">$10</div>
    </div>
    <div class="balance-item">
      <div class="headline">{{ "DASHBOARD.INCOME" | translate }}</div>
      <div class="value">$10</div>
    </div>
    <div class="balance-item">
      <div class="headline">{{ "DASHBOARD.EXPENSES" | translate }}</div>
      <div class="value">$10</div>
    </div>
  </article>
</section>
