<section class="pot-main">
    <div class="pot-main-headline">
        <h2>{{ "POTS.ADD_POT.TITLE" | translate }}</h2>
        <img src="../../../assets/images/close_btn.png" alt="close button" (click)="closeDialog()">
    </div>
    <div class="pot-main-description">
        <p>{{ "POTS.ADD_POT.DESCRIPTION" | translate }}</p>
    </div>
    <div class="pot-main-name">
        <label for="name">{{ "POTS.ADD_POT.NAME" | translate }}</label>
        <input type="text" placeholder=""/>
    </div>
    <div class="pot-main-target">
        <label for="target">{{ "POTS.ADD_POT.TARGET" | translate }}</label>
        <input type="number" placeholder=""/>
    </div>
    <div class="pot-main-theme">
    <label for="theme">{{ "POTS.ADD_POT.THEME" | translate }}</label>
    <select id="theme">
        <option value="theme01">{{ "POTS.ADD_POT.THEME_COLOR.GREEN" | translate }}</option>
        <option value="theme02">{{ "POTS.ADD_POT.THEME_COLOR.YELLOW" | translate }}</option>
        <option value="theme03">{{ "POTS.ADD_POT.THEME_COLOR.CYAN" | translate }}</option>
        <option value="theme04">{{ "POTS.ADD_POT.THEME_COLOR.NAVY" | translate }}</option>
        <option value="theme05">{{ "POTS.ADD_POT.THEME_COLOR.RED" | translate }}</option>
        <option value="theme06">{{ "POTS.ADD_POT.THEME_COLOR.PURPLE" | translate }}</option>
        <option value="theme07">{{ "POTS.ADD_POT.THEME_COLOR.TORQUOISE" | translate }}</option>
        <option value="theme08">{{ "POTS.ADD_POT.THEME_COLOR.BROWN" | translate }}</option>
        <option value="theme09">{{ "POTS.ADD_POT.THEME_COLOR.MAGENTA" | translate }}</option>
        <option value="theme10">{{ "POTS.ADD_POT.THEME_COLOR.BLUE" | translate }}</option>
    </select>
    </div>
    <button class="pot-main-add" (click)="addPot()">{{ "POTS.ADD_POT.ADD" | translate }}</button>
</section>