@use "../../src/mixins.scss" as m;
@use "../../src/variables.scss" as v;

.mat-drawer-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: v.$beige100;

  .sidenav {
    width: 200px;
    background-color: v.$grey900;
    color: v.$beige100;

    h2 {
      @include m.styleFont("PS-Bold", 24px, 400, 1.2, v.$beige100);
    }

    .menu-items {
      padding: 0;
      margin-bottom: 10px;

      li {
        @include m.styleFont("PS-Regular", 16px, 400, 1.2, v.$beige100);
        list-style-type: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 0 5px 5px 0;
        transition: background-color 0.125s;

        &:hover {
          background-color: v.$beige100;
          color: v.$grey900;
        }
      }
    }

    button {
      color: v.$beige100;
      position: fixed;
      bottom: 10px;
      left: 10px; 
    }
  }

  .content {
    @include m.flexBox(column, flex-start, flex-start);
    height: 100%;
    width: 100%;

    button {
      position: fixed;
      bottom: 10px;
      left: 10px;
    }
  }
}
