@use "../../src/mixins.scss" as m;

.mat-drawer-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);

  .sidenav {
    padding: 20px;
    width: 200px;

    .menu-items {
      margin-bottom: 10px;

      li {
        list-style-type: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .content {
    @include m.flexBox(column, center, center);
    height: 100%;
    width: 100%;

    button {
      position: relative;
      bottom: 10px;
      left: 10px;
    }
  }

  .router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
  }
}
