<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <app-dashboard></app-dashboard>
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
        <button routerLink="/transactions" mat-button>Transactions</button>
      </button>
    </div>
    <div class="router-container">
        <router-outlet></router-outlet>
      </div>
  </mat-drawer-container>