<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <ul class="menu-items">
      <li>
        <a routerLink="/" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
