<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h2>finance</h2>
    <ul class="menu-items">
      <li routerLink="/" routerLinkActive="active">Overview</li>
      <li routerLink="/transactions" routerLinkActive="active">Transactions</li>      
      <li routerLink="/budgets" routerLinkActive="active">Budgets</li>
      <li routerLink="/pots" routerLinkActive="active">Pots</li>
      <li routerLink="/bills" routerLinkActive="active">Bills</li>
    </ul>
  </mat-drawer>

  <div class="content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
