@use "../../src/mixins.scss" as m;
@use "../../src/variables.scss" as v;

.mat-drawer-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: v.$beige100;

  .sidenav {
    width: 300px;
    background-color: v.$grey900;
    border-radius: 0 10px 10px 0;
    color: v.$beige100;
    transition: width 0.3s;

    svg {
      padding: 32px 40px;
    }

    .menu-items {
      padding-left: 0;

      li {
        @include m.styleFont("PS-Regular", 16px, 400, 1.5, v.$grey300);
        list-style-type: none;
        cursor: pointer;
        padding: 16px 40px 16px;
        margin-right: 24px;
        border-radius: 0 5px 5px 0;
        transition: background-color 0.125s;

        &:hover {
          background-color: v.$beige100;
          color: v.$grey900;
        }
      }
    }

    button {
      color: v.$beige100;
      position: fixed;
      bottom: 10px;
      left: 10px; 

      &:hover {
        background-color: v.$beige100;
        color: v.$grey900;
      }
    }
  }

  .content {
    @include m.flexBox(column, flex-start, flex-start);
    height: 100%;
    width: 100%;
    padding: 32px 40px;
    box-sizing: border-box;

    button {
      position: fixed;
      bottom: 10px;
      left: 10px;

      &:hover {
        background-color: v.$grey900;
        color: v.$beige100;
      }
    }
  }
}
