@use "../../../../src/mixins.scss" as m;
@use "../../../../src/variables.scss" as v;

.pots-main {
    height: 100%;
  .pots-headline {
    @include m.flexBox(row, space-between, center);

    h1 {
      @include m.styleFont("PS-Bold", 32px, 400, 1.2);
      margin: 0;
    }

    button {
        @include m.styleFont("PS-Bold", 14px, 400, 1.5, white);
        width: 128px;
        height: 53px;
        background-color: v.$grey900;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
  }

  .pots-list {
    margin-top: 32px;
    height: auto;
    width: 100%;

    .pot-item {
      width: 500px;
      height: 200px;
      background-color: white;
      border-radius: 12px;
      padding: 24px;
    }
  }
}
