<section class="pots-main">
  <div class="pots-headline">
    <h1>{{ "POTS.TITLE" | translate }}</h1>
    <button (click)="openAddDialog()">{{ "POTS.ADD" | translate }}</button>
  </div>

  <article class="pots-list">
    <div *ngFor="let pot of allPots" class="pot-item">
      <div class="pot-head">
        <div class="pot-head-left">
          <div
            class="pot-color"
            [ngStyle]="{ 'background-color': pot.theme_color }"
          ></div>
          <div class="pot-name">{{ pot.name }}</div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openEditDialog(pot)">
            <span>{{ "POTS.EDIT" | translate }}</span>
          </button>
          <button mat-menu-item (click)="deletePot(pot)">
            <span>{{ "POTS.DELETE" | translate }}</span>
          </button>
        </mat-menu>
        
      </div>
      <div class="pot-mid">
        <div class="pot-mid-total">
          <span>{{ "POTS.TOTAL" | translate }}</span>
          <div>{{"DASHBOARD.SIGN" | translate }}{{ pot.total_saved }}</div>
        </div>
        <div class="pot-mid-progress">
          <mat-progress-bar mode="determinate" value="{{ (pot.total_saved / pot.target * 100) | number:'1.1-1' }}"></mat-progress-bar>
        </div>
        <div class="pot-mid-target">
            <span class="pot-mid-target-percent">
            {{ (pot.total_saved / pot.target * 100) | number:'1.1-1' }}%
            </span>
          <div class="pot-mid-target-val">{{"DASHBOARD.SIGN" | translate }}{{ pot.target }}</div>
        </div>
      </div>
      <div class="pot-btn">
        <button>{{ "POTS.ADD_MONEY" | translate }}</button>
        <button>{{ "POTS.WITHDRAW" | translate }}</button>
      </div>
    </div>
  </article>
</section>
