@use "../../../../src/mixins.scss" as m;
@use "../../../../src/variables.scss" as v;

.pots-main {
  height: 100%;
  .pots-headline {
    @include m.flexBox(row, space-between, center);

    h1 {
      @include m.styleFont("PS-Bold", 32px, 400, 1.2);
      margin: 0;
    }

    button {
      @include m.styleFont("PS-Bold", 14px, 400, 1.5, white);
      width: 128px;
      height: 53px;
      background-color: v.$grey900;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }
  }

  .pots-list {
    @include m.flexBox(row, flex-start, flex-start, 24px);
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 32px;
    height: auto;
    width: 100%;

    .pot-item {
      width: 518px;
      min-width: 320px;
      height: 303px;
      background-color: white;
      border-radius: 12px;
      padding: 24px;

      .pot-head {
        @include m.flexBox(row, space-between, center);

        .pot-head-left {
          @include m.flexBox(row, flex-start, center);

          .pot-color {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: v.$navy;
            margin-right: 8px;
          }

          .pot-name {
            @include m.styleFont("PS-Bold", 20px, 400, 1.2, v.$grey900);
          }
        }
      }

      .pot-mid {
        .pot-mid-total{
          @include m.flexBox(row, space-between, center);

          span{
            @include m.styleFont("PS-Regular", 14px, 400, 1.5, v.$grey500);
          }
          div {
            @include m.styleFont("PS-Regular", 32px, 400, 1.2, v.$grey900);
          }
        }

        .pot-mid-target {
          @include m.flexBox(row, space-between, center);
        }
      }
    }
  }
}
