@use "../../../../src/mixins.scss" as m;

.transactions-main {
  h1 {
    @include m.styleFont("PS-Bold", 32px, 400, 1.2);
    margin: 0;
  }

  .transaction-list {
    background-color: white;
    border-radius: 12px;
    height: 100%;
    padding: 32px;

    @media (max-width: 768px) {
      padding: 16px;
    }

    .transaction-list-search {
        @include m.flexBox(row, space-between, center);

        @media (max-width: 768px) {
          @include m.flexBox(column, flex-start, flex-start);
        }

        .transaction-list-search-right {
            @include m.flexBox(row, flex-end, center);

            @media (max-width: 768px) {
                @include m.flexBox(column, flex-start, flex-start);
              }
        }
    }
  }
}
