$primary-color: #e15544;
$secondary-color: #02F4BF;
$hover-color: #02F4BF;
$green: #277C78;
$yellow: #F2CDAC;
$cyan: #82C9D7;
$navy: #626070;
$red: #C94736;
$purple-dark: #826CB0;
$purple-light: #AF81BA;
$torquoise: #597C7C;
$brown: #93674F;
$magenta: #934F6F;
$blue: #3F82B2;
$navy-grey: #97A0AC;
$army-green: #7F9161;
$gold: #CAB361;
$orange: #BE6C49;
$beige100: #F8F4F0;
$beige500: #98908B;
$grey900: #201F24;
$grey500: #696868;
$grey300: #B3B3B3;
