<section class="delete-pot-main">
    <div class="delete-pot-headline">
        <h2>{{ "POTS.DELETE_POT.TITLE" | translate }} ´{{ pot.name }}´?</h2>
        <img src="../../../assets/images/close_btn.png" alt="close button" (click)="closeDialog()">
    </div>
    <div class="delete-pot-description">
        <p>{{ "POTS.DELETE_POT.DESCRIPTION" | translate }}</p>
    </div>
    <button class="delete-pot-delete" (click)="deletePot(pot)">{{ "POTS.DELETE_POT.DELETE" | translate }}</button>
    <span class="delete-pot-cancel" (click)="closeDialog()">{{ "POTS.DELETE_POT.CANCEL" | translate }}</span>
</section>