@use "../../../mixins.scss" as m;
@use "../../../variables.scss" as v;

.delete-pot-main {
    border-radius: 12px;
    box-sizing: border-box;
    padding: 32px;
    max-width: 560px;

  .delete-pot-headline {
    @include m.flexBox(row, space-between, flex-start);

    h2 {
      @include m.styleFont("PS-Regular", 32px, 900, 1.2, v.$grey900);
      margin: 0;
    }

    img {
      cursor: pointer;
    }
  }

  .delete-pot-description {
    @include m.styleFont("PS-Regular", 14px, 400, 1.5, v.$grey500);
    margin: 20px 0;
  }

  .delete-pot-delete {
    @include m.styleFont("PS-Bold", 14px, 400, 1.5, white);
    cursor: pointer;
    width: 100%;
    width: 100%;
    height: 53px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: v.$red;
  }

  .delete-pot-cancel {
    @include m.styleFont("PS-Regular", 14px, 400, 1.5, v.$grey500);
    @include m.flexBox(row, center);
    cursor: pointer;
    width: 100%;
    height: 14px;
    margin: 0;
    border: none;
    border-radius: 8px;
    align-content: center;
  }
}
